@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  /* Custom fonts */
  --font-sans: var(--font-outfit), sans-serif;
  --font-ovo: var(--font-ovo), serif;

  /* Custom box shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* Custom Grid Template Columns */
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@variant dark (&:where(.dark, .dark *));
